.upload-container {
    text-align: center;
    padding: 20px;
  }
  
  .file-input {
    margin-bottom: 10px;
  }
  
  .upload-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }

  .custom-container {
    margin-top: 200px;
    width: 800px;
  }
